.feed-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .feed {
    max-width: 300px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
    .post {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-inline: 0.5rem;
      padding-block: 0.5rem;
      background-color: #544444;

      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .img-wrapper {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba(255, 255, 0, 0);
          background: conic-gradient(
              red,
              #ff7f00,
              yellow,
              #7fff00,
              green,
              #00bfff,
              blue,
              #4b0082,
              violet,
              red
            )
            border-box;
        }

        img {
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }

      .icons{
        display: flex;
        justify-content: space-between;
        .left{
          display: flex;
          gap: 0.6rem;
        }
        .like{
          color:red;
        }
        svg{
          width: 1rem;
          color:white;
          aspect-ratio: 1/1;
        }
        button{
          padding: 0px;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
