main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 2rem;
}

.form-container {
  width: 100%;
  max-width: 28rem;
  padding: 2.5rem;
background: linear-gradient(135deg, #8f8e8e, #bdbcbc);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #282626df;

  h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 800;
    font-family: monospace;
  }
  p {
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
    color: #666;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    input {
      width: 100%;
      padding: 0.8rem 1.25rem;
      font-size: 1rem;
      border-radius: 0.75rem;
      border: 0.0625rem solid #e5e5e5;
      background: #fafafa;
      transition:
        border 0.2s ease,
        background 0.2s ease;

      &:focus {
        border-color: #111;
        background: #fff;
      }
    }
  }
}
